body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  max-width: 100vw;
}
main {
  margin: 0;
  padding: 0;
  position: relative;
}
.topbarmain {
  background-color: #ffffff;
  max-width: 1920px;
  max-height: 145px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 145px;
  background-color: #ffffff;
  font-family: "Montserrat";
  font-weight: SemiBold;
  font-size: 30px;
}
.logo-box {
  margin-left: -20px;
}
.search-box
{
  margin-left: -200px;
}
.logo-top {
  height: 75px;
}
.topbar-hiper {
  display: inline-block;
  line-height: 80px;
  text-decoration: none;
  color: #222222;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: SemiBold;
  margin: 0 5px;
}
.topbar-ul {
  display: flex;
  justify-content: space-around;
  width: 55%;
  text-decoration: none;
  list-style: none;
  margin-right: 5%;
}
.search-top
{
  width: 40px;
  height: 40px;
}
.burger
{
  display: none;
}
.burger div
{
  width:25px;
  height: 3px;
  background-color: #222222;
  margin: 5px;
  border-top-left-radius: 3px 2px;
  border-bottom-left-radius: 3px 2px;
  border-top-right-radius: 3px 2px;
  border-bottom-right-radius: 3px 2px;

}
h1 {
  color: #222222;
  position: absolute;
  text-align: left;
  font-family: "Montserrat";
  font-size: 100px;
  font-weight: bold;
}

.herofoto {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  z-index: 0;
}
.hero-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-text1 {
  color: #222222;
  position: absolute;
  text-align: left;
  font-family: "Montserrat";
  font-size: 100px;
  font-weight: bold;
  top: 310px;
  left: 110px;
  margin: 0;
}
.hero-text2 {
  color: #222222;
  position: absolute;
  text-align: left;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: medium;
  top: 420px;
  left: 112px;
  margin: 0;
}
.hero-text-wrap {
  position: relative;
  padding-top: 10%;
  padding-left: 10%;
  z-index: 1;
}
.smallabout{
  font-family: "Montserrat";
  color: #FFFFFF;
  font-size: 30px;
  font-weight: medium;
  text-align: left;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 200px;
}
.LineStartGal{
  color: #858585;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  width:100%;
  border-style: inset;
  border-width: 1px;
}
@media screen and (max-width:1024px){
  
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .topbar-ul
  {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }
}