html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  max-width: 100vw;
  overflow-x: hidden;
}
main {
  margin: 0;
  padding: 0;
  position: relative;
}
.topbarmain {
  top:0;
  max-width: 100%;
  position:fixed;
  z-index: 2;
  width: 100vw;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7rem;
  background-color: #ffffff;
  /*background: linear-gradient(180deg, #ffffff 90%, transparent 100%);*/
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 30px;
}
.logo-box {
  margin-left: -20px;
}

.logo-top {
  height: 75px;
}
.topbar-hiper {
  display: inline-block;
  text-decoration: none;
  color: #222222;
  font-family: "Montserrat";
  font-size: 1.8rem;
  font-weight: 400;
}
.topbar-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  text-decoration: none;
  list-style: none;
}
.search-top {
  width: 40px;
  height: 40px;
  margin-top: 25%;
  margin-right: -400px;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #222222;
  margin: 5px;
  border-top-left-radius: 3px 2px;
  border-bottom-left-radius: 3px 2px;
  border-top-right-radius: 3px 2px;
  border-bottom-right-radius: 3px 2px;
}
h1 {
  color: #222222;
  position: absolute;
  text-align: left;
  font-family: "Montserrat";
  font-size: 100px;
  font-weight: bold;
}

.herofoto {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  z-index: 0;
}
.hero-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-text1 {
  color: #222222;
  position: absolute;
  text-align: left;
  font-family: "Montserrat";
  font-size: 6.4rem;
  font-weight: bold;
  top: 18rem;
  left: 6rem;
  margin: 0;
}
.hero-text2 {
  color: #222222;
  position: absolute;
  text-align: left;
  font-family: "Montserrat";
  font-size: 3.5rem;
  font-weight: 300;
  top: 24.4rem;
  left: 6rem;
  margin: 0;
}
.hero-text-wrap {
  position: relative;
  padding-top: 10%;
  padding-left: 10%;
  z-index: 1;
}
.smallabout {
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: medium;
  text-align: left;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 150px;
}
.LineStartGal {
  color: #858585;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  border-style: inset;
  border-width: 1px;
}
.GalImagePresetLeft {
  height: 100%;
  width: 100%;
}
.GalImagePresetRight {
  height: 100%;
  width: 100%;
  /*object-position: center center;*/
}

.GalImageBox {
  object-position: center center;
  object-fit: cover;
  width: 50%;
  overflow-x: hidden;
}
.GalBoxLeft {
  position: relative;
  width: 100%;
  text-align: left;
}
.GalBoxRight {
  position: relative;
  width: 100%;
  text-align: right;
}
.DivLeftBlock {
  width: 100%;
  text-align: left;
  padding-top: 25%;
  padding-left: 10%;
}
.DivRightBlock{
  width: 90%;
  text-align: right;
  padding-top: 25%;
  padding-right: 10%;
}
.GalBlock {
  display: flex;
  width: 100%;
  height: 50rem;
}
.Block {
  width: 50%;
  height: 100%;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
}
.GalBlockBackground {
  background-color: #222222;
}
.GalBlockTransparent {
  background-color: transparent;
}
.GalTextAutorLeft {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  text-align: left;
  margin: 0;
}
.GalTextAutorRight {
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  text-align: right;
  margin: 0;
}
.GalTextTituloLeft {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: Bold;
  color: #ffffff;
  text-align: left;
  margin: 0;
  margin-top: 0.625rem;
}
.GalTextTituloRight {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: Bold;
  color: #ffffff;
  text-align: right;
  margin: 0;
  margin-top: 0.625rem;
}
.GalTextMainLeft {
  width: 70%;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  margin: 0;
  margin-top: 0.938rem;
  word-break: break-all;
}
.GalTextMainRight {
  width: 80%;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  margin: 0;
  margin-top: 0.938rem;
  margin-right: 0;
  margin-left: auto;
  word-break: break-all;
}
.BtnVerMaisLeft {
  font-family: "Montserrat";
  border: 2px solid #6fa550;
  font-size: 20px;
  font-weight: Bold;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 180px;
  height: 60px;
  border-radius: 30px;
  margin-top: 10px;
}
.BtnVerMaisRight {
  font-family: "Montserrat";
  border: 2px solid #6fa550;
  font-size: 20px;
  font-weight: Bold;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 180px;
  height: 60px;
  border-radius: 30px;
  margin-top: 10px;
  margin-right: 0;
  margin-left: auto;
}
.VerMaisText{
  text-decoration: none;
  color: #6fa550;
  margin: 10px;
}
.wave-wrap {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
#waveform_1 {
  margin-left: 20px;
  width: 55%;
  z-index: 1;
}
#waveform_2 {
  margin-left: 20px;
  width: 55%;
  margin-right: 0;
  z-index: 1;
}
#waveform_3 {
  margin-left: 20px;
  width: 55%;
  z-index: 1;
}
#waveform_4 {
  margin-left: 20px;
  width: 55%;
  margin-right: 0;
  z-index: 1;
}
.WaveControlsLeft{
  width: 20px;
}
.WaveControlsRight{
  width: 20px;
  margin-right: 0;
  margin-left: auto;
}

.WaveControlsLeft img{
  width: 20px;
  margin-right: 20px;
  cursor: pointer;

}
.WaveControlsRight img{
  width: 20px;
  margin-right: 20px;
  cursor: pointer;

}
.abouttext{
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 1rem;
  font-weight: medium;
  text-align: left;
  margin-top: 30px;
  margin-left: 180px;
  margin-right: 150px;
  margin-bottom: 30px;
}

.abouttext2{
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 1rem;
  font-weight: medium;
  text-align: left;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
}

.Operene{
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: bold;
  text-align: left;
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
}

.title2{
  font-family: "Montserrat"; 
  color: #ffffff;
  font-weight: bold;
  text-align: left;
  margin-top: 60px;
  margin-left: 150px;
  margin-right: 150px;
}

.LineStartGalSobre2{
  width: 40%;
  margin-left: 150px;
}

.LineStartGalSobre{
  width: 20%;
  margin-left: 150px;
}

.lighttext{
  font-weight: lighter;
}

.quote{
  font-weight: bold;
  font-style: italic;
}
.GalImagePresetLeftParcerias{
  width: 500px;
  display: inline-block;
  margin-top: 9.5rem;

}

.smalltextparceriasTitulo{
  display: inline-block;
  margin-left: 5rem;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: bold;
  text-align: left;
  font-size: 3.6rem;
  padding: 0;
}
.smalltextparcerias{
  display: inline-block;
  margin-left: 5rem;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  font-size: 1.6rem;
  padding: 0;
}







@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .burger {
    display: block;
  }
  .topbar-ul {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }
}